<!-- @format -->

<p>ques wo!</p>
<!-- @format

<div class="quiz-wrapper mt-3" *ngIf='false' style="padding:10px; background-color: rgba(127, 255, 242, 0.211);">
	<h1 style="margin-left: 20px; margin-top: 0px">Question</h1>
	<div class="move" align="right">
		<button
			class="btn btn-primary"
			style="position: relative; top: -220px; right: 20px"
			type="button"
			(click)="key()"
		>
			X
		</button>
	</div>
	<div align="center">
		<form class="quiz" style="display: flex; flex-direction: column">
			<input
				name="question"
				type="text"
				style="height: 4rem; width: 100%"
				placeholder="Type your question here"
			/>
			<div class="opt">
				<input type="checkbox" />
				<label style="padding: 10px">Option 1</label>
				<input name="first" type="text" />
			</div>
			<div class="opt">
				<input type="checkbox" />
				<label style="padding: 10px">Option 2</label>
				<input name="first" type="text" />
			</div>
			<div class="opt">
				<input type="checkbox" />
				<label style="padding: 10px">Option 3</label>
				<input name="first" type="text" />
			</div>
			<div class="opt">
				<input type="checkbox" />
				<label style="padding: 10px">Option 4</label>
				<input name="first" type="text" />
			</div>
		</form>
	</div>
</div>  -->
